
body{

	display: flex;
	background: url('33.jpg');
	background-repeat: no-repeat;
	align-content: center;
	justify-content: center; 
}

.one{
	
	/*display: grid;*/
	justify-items: center;
	height: 70vh;
 	margin-top: 6%;
	background-color: pink;
	opacity: 0.8;
	border-radius: 30px;
	width:50%;
	transition: transform 2s ease;
}

.one:hover{
	transform: scale(1.1) translateY(-2px);
	
}


.circle{
	display: flex;
	justify-content: center; 
	align-items: center;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: maroon;
	opacity: 0.7;
	font-size: 100px;
	transition: transform 2s ease;
}


.circle:hover{
	transform: scale(2.3) translateY(15px);

}



.typewriter {
  overflow: hidden; 
  white-space: nowrap;
  border-right: 1px solid purple; 
  width: 0; 
  font-family: monospace;
  animation: typing 10s steps(30, end) forwards, blink 1s step-end infinite, ease;
  animation-delay: 2s;
}

@keyframes typing {
  from { width: 0; }
  to { width: 70%; } 
}

@keyframes blink {
  50% { border-color: transparent; 
  }
}


 