body{
	display: flex;
	justify-content: center;
	margin: 70px;
	background-image: url("33.jpg");
}

.a{
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	align-items: center;
	background-color: pink;
	opacity: 80%;
	font-weight: bolder;
	padding: 40px;
	transition: 1s ease transform;
		
}
.a:hover{
	transform: scale(1.1) translateY(10px);


}


.circle{
	display: flex;
	background-color: transparent;
	opacity: 70%;
	justify-content: center; 
	align-items: center;
	height: 130px;
	width: 130px;
	border-radius: 50%;
	font-size: 500%;
	font-weight: bold;
	transition: 3s ease transform;
	text-decoration: none;

}

a, a:link, a:visited, a:hover, a:active {
  color: inherit; 
  text-decoration: none; 
}

.circle:hover{
	transform: scale(2.4) translateY(-30px);
}

.typewriter{
	
	overflow: hidden;
	white-space: nowrap;
	border-right: 3px solid orange;
	animation: typing 18s steps(57, end), blink-caret .75s infinite;

}

@keyframes  typing {
	from { width:0 }
	to { width:100% }
}

@keyframes blink-caret {
	from { border-color:transparent; }
	to { border-color:orange; }













